body {
	text-align: center;
	background-color: #F0F060;
}

.student {
	display: inline-block;
	margin-top: 37px;
	margin-left: 5px;
	height: 200px;
	width: 150px;	
	border-radius: 10%;
	border: 3px solid #000000;
	
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	font-family: Comic Sans MS;
	z-index:100;
	
	background-color: #DDDDDD;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.student:hover {
	border: 3px solid #cc0000;
}

#brad.student {
	background-image: url('library/0.jpg');
}
#brad.student:hover {
   background-image: url('library/0h.jpg');
}